/* # # # # # # # # GENERAL THINGS # # # # # # # #  */
body {
  background-color: rgb(46, 46, 46);
  opacity: 0.9;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: white;
  margin: 30px;
  font-family: 'Slabo 27px', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > span:first-child {
  font-size: 2.5rem;
  display: block;
}
header > span:last-child {
  font-size: 1.2rem;
}

/* # # # # # # # game MENU # # # # # # # # # */

.menu {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border: solid;
  height: 62px;
  width: 41vw;
  margin-bottom: 15px;
  background-color: rgb(159, 66, 66);
}

/* Menu Writting */
.menuleft {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  /* Style */
  padding: 0 15px 0 15px;
  max-width: calc(50% - 30px);
  color: white;
  font-size: 1rem;
  font-family: 'Slabo 27px', serif;
  overflow: scroll;
}
.menuleft span {
  color: white;
}
.menuright {
  /* Display */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 50%; */
  border-left: solid 2px black;
  /* padding: 0 10px 0 10px; */
  background-color: rgb(87, 26, 0);
}

/* # # # # # # # FORMS ENTER NAME # # # # # # # # # */

form {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: rgb(103, 31, 0);
  animation: clignoteForm 1s infinite;
}
@keyframes clignoteForm {
  50% {
    background-color: rgb(87, 26, 0);
  }
  100% {
    background-color: rgb(103, 31, 0);
  }
}

input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
  border-style: none;
  outline: none;
  font-family: 'Overpass Mono', monospace;
  background-color: transparent;
  color: white;
}

/* # # # # # # # PLAYERS LIST # # # # # # # # # */

.playerslist {
  height: 100%;
  width: 100%;
  overflow: scroll;

  /* background-color: white; */
}
/* h4 for name of players */
h4 {
  font-size: 1.2rem;
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}
h4:hover {
  cursor: pointer;
  background-color: rgb(179, 129, 37);
}
/* You are Alone */
h5 {
  letter-spacing: 3px;
  font-size: 1rem;
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}

/* # # # # # # # # # # # # # # CHOOSE SIZE # # # # # # # # # */
/* parent is "menuRight" */

.choosesize {
  height: 80%;
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  justify-content: center;
  border-top: solid 2px;
  border-left: solid 2px;
  border-bottom: solid 2px;
  /* margin: 0 10px 0 10px; */
}

.onesize {
  height: 100%;
  flex: 1 1 25%;
  border-right: solid 2px;
  background-color: rgb(198, 142, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.onesize:hover {
  background-color: rgba(179, 129, 37);
}

/* # # # # # # # # # # # # # # SCORE MENU # # # # # # # # # */
/* parent is "menuRight" */
.scoretitle {
  height: 18px;
  width: 100%;
  /* background-color: blue; */
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px black;
  background-color: rgb(159, 66, 66);
}
.scoremenu {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.scoremenu div {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoremenu div:nth-child(1) {
  background-color: rgb(249, 164, 6);
}
.scoremenu div:nth-child(2) {
  background-color: rgb(249, 164, 6);
  border-right: solid 1px;
  font-size: 20px;
}
.scoremenu div:nth-child(3) {
  background-color: rgb(26, 130, 179);
  border-left: solid 1px;
  font-size: 20px;
}
.scoremenu div:nth-child(4) {
  background-color: rgb(26, 130, 179);
}

/* # # # # # # # # # # # # # # MATRICE # # # # # # # # # */

.game {
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

section {
  display: flex;
}
h1 {
  text-align: center;
  font-family: 'McLaren', cursive;
  font-size: 1.2rem;
}

.box {
  position: relative;
  /* width: 30px;
  height: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  transition: all 0.25s ease;
}

.barCol {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(50% - 2px);
  border-right: solid 2px rgb(38, 38, 38);
}
.barRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(50% - 2px);
  border-bottom: solid 2px rgb(38, 38, 38);
}

.barD1 {
  position: absolute;
  left: center;
  height: 160%;
  border-right: solid 2px rgb(38, 38, 38);
  transform: rotate(-45deg);
}
.barD2 {
  position: absolute;
  left: center;
  height: 160%;

  border-right: solid 2px rgb(38, 38, 38);
  transform: rotate(45deg);
}

@keyframes clignote {
  0% {
    opacity: 0.9;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
.X {
  background-color: rgb(249, 164, 6);
  animation: clignote 0.6s;
}
.O {
  background-color: rgb(26, 130, 179);
  animation: clignote 0.6s;
}

.empty {
  background-color: rgb(179, 129, 37);
}

.notallowed {
  opacity: 0.7;
}
.WinO {
  background-color: rgb(117, 184, 215);
  animation: winner 2s infinite;
}
.WinX {
  background-color: rgb(255, 212, 132);
  animation: winner 2s infinite;
}

@keyframes winner {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

/* # # # # # # # # # # RESPONSIVE # # # # # # # #  */

@media (max-width: 850px) {
  .menu {
    width: 95vw;
  }

  header {
    margin: 15px;
  }
  header > span:first-child {
    font-size: 2rem;
  }
}
